# Python
*.py[cod]
*.pyc
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pydevproject
.project
.pytest_cache/
.coverage
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.mo
*.pyo
*.pyd
*.pdb
*.dll
*.dylib
*.exe
*.app
*.msi
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
media

# Virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code
.vscode/

#Keys
.env
UI/NOTE.md
